body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

a,
a:hover,
li,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.menu {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
