:root {
  --container-width: 1440px;
  --container-small-width: 1080px;
  --basic-space: 60px;

  --color-regular: #323264;
  --color-alt: #46466e;
  --color-soft: #686887;

  --color-accent: #f0145a;

  --color-blue-regular: #24a3ff;
  --color-blue-active: #0085ff;
  --color-blue-hover: #006ccf;

  --color-gray-bg: #f5f5fa;
  --color-gray-bg-alt: #ededf7;
  --color-gray-text: #b3b3ba;
  --color-gray-separator: #e6e6f0;

  --color-gradient-regular: linear-gradient(
    128.63deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
  );
  --color-gradient-soft: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  --color-gradient-red: linear-gradient(
    323.35deg,
    #f0145a 6.7%,
    #693264 70.36%
  );
  --color-gradient-supersoft: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  --color-gradient-redtext: linear-gradient(
    90.13deg,
    #f0145a 0.84%,
    #ef8080 99.96%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}
.container-small {
  max-width: calc(var(--container-small-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}

img {
  max-width: 100%;
}
