@media (max-width: 2000px) {
  :root {
    --container-small-width: 1360px;
  }
  .team-card img {
    object-fit: cover;
  }
}

@media (max-width: 1440px) {
  :root {
    --container-small-width: 1080px;
  }
}
@media (max-width: 1024px) {
  :root {
    --container-small-width: 664px;
  }
  .team-card img {
    height: 400px;
  }
}

@media (max-width: 950px) {
  .team-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-nav {
    grid-column: 1/3;
    justify-content: flex-start;
    padding-bottom: 32px;
    white-space: nowrap;
  }
  .header-menu {
    grid-column: 1/3;
    justify-content: flex-start;
    white-space: nowrap;
  }

  .grid-head {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-logo {
    gap: 4px;
    grid-row: 2/3;
    padding-bottom: 30px;
  }
  .footer-contact {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
  }
  .footer-geo {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
  }
  .rights {
    color: var(--color-gray-text);
    line-height: 1.25;
    grid-column: 1/3;
    grid-row: 3/3;
    display: flex;
    justify-content: center;
  }
  .team-card img {
    height: 400px;
  }
}

@media (max-width: 590px) {
  :root {
    --container-small-width: 538px;
    --basic-space: 30px;
  }

  .grid-head {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .grid-nav {
    justify-content: space-between;
    background-color: #f5f5fa;
    margin-left: calc(-1 * var(--basic-space));
    margin-right: calc(-1 * var(--basic-space));
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    height: 20px;
    padding-top: 25px;
  }

  .nav-up {
    background-color: var(--color-gray-bg);
    height: 45px;
    width: 375px;
  }
  .grid-nav {
    justify-content: space-between;
    grid-column: 1/4;
  }
  .grid-head {
    margin-bottom: 30px;
  }
  .grid-logo {
    padding-bottom: 0px;
    padding-top: 15px;
  }

  .team-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 30px;
  }
  .team-card img {
    object-fit: cover;
    width: 100%;
  }
  .header-light .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .address,
  .facebook-header {
    display: none;
  }
  .team-card img {
    height: 311px;
  }
  .hero {
    font-size: 30px;
    line-height: 37px;
  }

  .footer-contact {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-tel {
    padding-bottom: 10px;
  }
  .footer-geo {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .rights {
    padding-top: 30px;
    color: var(--color-gray-text);
    line-height: 1.25;
    grid-column: 1/3;
    grid-row: 3/3;
    display: flex;
    justify-content: center;
  }
  .dot {
    display: none;
  }
  .hover-menu:hover {
    border-bottom: 0px solid;
  }
  .hover-menu:hover {
    background-color: #e6e6f0;
    color: var(--color-blue-regular);
  }
  .hover-menu:active {
    border-bottom: 0px solid;
  }
  .burger {
    display: flex;
  }
  .hover-menu {
    height: 43px;
    width: 335px;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-bg);
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 300px 25px 25px 25px;
    background-color: #ffffff;
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: all 0.3s linear;
    transform: translateY(100vh);
  }
  .head-light .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .burger span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 2px;
    transition: 0.3s all linear;
    opacity: 1;
  }
}
