.kobzar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.kobzar-img {
  height: 500px;
}
.kobzar-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 31px;
}
.h3-kob {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.p-small {
}
.dot {
}
.footer-mail {
}
.kobzar-link {
}
