.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
}
.bg-graidient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  position: relative;
  color: white;
}
.bg-graidient::before,
.bg-graidient::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-radius: 0px 0px 12px 12px;
}
.bg-graidient::before {
  top: 100%;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  background: #cacadb;
  z-index: -1;
}
.bg-graidient::after {
  top: 100%;
  left: 40px;
  width: calc(100% - 80px);
  background: #e7e7f2;
  z-index: -1;
}
.first-section {
  min-height: 100vh;
  background: url(../media/Symbol.png) no-repeat center/contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body.gradient .head-dark {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tab-pane {
  display: none;
}
.tab-pane:active {
  display: block;
}
.jc-c {
  display: flex;
  justify-content: center;
}

.tabs-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-link {
  color: #b3b3ba;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: right;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--color-accent);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link :active {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: transparent;
}
.serv-sec {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.img-serv {
  padding-bottom: 30px;
}
.h4-serv {
  padding-bottom: 15px;
  color: #24a3ff;
}
.trust-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.border {
  border-color: var(--color-gray-separator);
  height: 322px;
  margin-left: 60px;
  margin-right: 60px;
}

.tab-h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.tab-p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.slider-team {
  position: relative;
  background: #f5f5fa;
}
.slick-prev,
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev {
  left: 0;
}

.slick-arrow {
  right: 0;
}
.slick-dots li button::before {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #24a3ff;
  opacity: 0.2;
}
.slick-slide img {
  background: #ffffff;
  border-radius: 12px;

  text-align: center;
  width: 400px;
  object-fit: contain;
}
.slick-initialized .slick-slide {
  display: flex;
}
.a-slider {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  color: #24a3ff;
}
.d {
  display: flex;
}
