.main-up {
  display: grid;
  gap: 70px;
  grid-template-columns: 1000px auto;
}
.up {
  grid-row: 1/2;
}
.main-down {
  margin-top: 60px;
  display: grid;
  gap: 60px;
  grid-template-columns: 1000px auto;
}

.down {
  grid-row: 1/2;
}
.hero-about {
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.left {
  display: flex;
  gap: 13px;
  margin-bottom: 10px;
}
.p-blue {
  max-width: 354px;
  color: #323264;
  margin-bottom: 40px;
}

.p-pub {
  line-height: 30px;
  margin-bottom: 40px;
}

.border {
  border-right: 1px solid;
  padding-right: 30px;
  border-color: var(--color-gray-separator);
}

.margin {
  margin-top: 28px;
}

.my-slider {
  position: relative;
}
.slick-prev,
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev {
  left: 0;
}

.slick-arrow {
  right: 0;
}
.slick-slide img {
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  width: 300px;
  height: 110px;
  object-fit: contain;
}
.slick-dots li button::before {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #24a3ff;
  opacity: 0.2;
}
.slick-slide,
.slick-current,
.slick-active {
  width: 400px;
}
